@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenue au Grand Hôtel</h1>
    <p>Ici le bonheur n'est pas en option !</p>
    <img src="images/photo-hotel.jpg" />
</div>
